/* initialisation margin, paddin a 0 */
*{
    margin: 0;
    padding: 0;
}

/* body */
body{
    background: #d3c3a4c4;
    font-family: 'Times New Roman', Times, serif;
}

/* Style header */
header{
    min-height: 70px;
    padding: 4px;
    display: flex;
    background: wheat;
    align-items: center;
    justify-content: space-between;
}
/* Titre */
header h1{
    font-size: 2.5rem;
    margin: auto;
    color: whitesmoke;
    text-shadow: 1px 1px 10px #000000e6;
}

/* Barre de navigation */
header nav ul{
    display: flex;
}

header nav ul li{
    margin: 0 2px;
    display: flex;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    background: #0000006c;
    border-radius: 5px;
    padding: 4px;
}

header nav ul li a:hover{
    background: antiquewhite;
    color: black;
    border: 1.5px solid #0000006c;
}

/* Responsive */
@media screen and (max-width : 450px) {
    /* Style header */
    header{
        min-height: 70px;
        padding: 4px;
        display: flex;
        background: wheat;
        align-items: center;
        flex-direction: column;
    }
    /* Titre */
    header h1{
        font-size: 2rem;
        color: whitesmoke;
        text-shadow: 1px 1px 10px #000000e6;
        margin: 2px auto;
    }

    header nav ul li a{
        font-size: 0.95rem;
        font-weight: bold;
        padding: 3px;
    }

}
